header {
    position: relative;
    background-color: var(--bg1);
    background: linear-gradient(0deg, var(--bg2) 0%, var(--bg1) 50%);
}

main {
    margin-block: 7%;
}

#contact {
    margin-block: 7%;
    /* width: 90%; */
}

#contact h2 {
    padding-left: 0.25em;
}

/* FORM {{{ */
form {
    background-color: var(--bg1);
    background: radial-gradient(circle, var(--bg1) 0%, var(--bg2) 90%);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0.5em;
}
form #first-name {
    grid-column: 1 / 11;
    padding-bottom: 0;
}
form #last-name {
    grid-column: 1 / 11;
}
form #email {
    grid-column: 1 / 11;
}
form #phone {
    grid-column: 1 / 11;
}
form .full {
    grid-column: 1 / 11;
}
form p {
    margin: 0;
    padding: 0.5em;
}
form .last {
    visibility: hidden;
}
form label {
    display: block;
    font-size: 0.75em;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--fg);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
    box-shadow: 0 0 0px 1000px var(--bg) inset;
    transition: background-color 5000s ease-in-out 0s;
}
form input,
form textarea {
    font-family: inherit;
    color: var(--fg);
    background: var(--bg1);
    width: 100%;
    font-size: 0.875em;
    padding: 0.25em;
    border-top: 1px solid var(--bg0);
    border-left: 1px solid var(--bg0);
    border-bottom: 1px solid var(--bg3);
    border-right: 1px solid var(--bg3);
}
form textarea {
    resize: none;
}
form .description .include {
    font-size: 0.75em;
    margin-left: 1em;
}
/* FORM }}} */

iframe {
    width: 100%;
}

address {
    margin-bottom: 7%;
}

#hours h3 {
    margin-bottom: 0;
}
