/* FORM {{{ */
form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0.5em;
}
form #first-name {
    grid-column: 1 / 11;
    padding-bottom: 0;
}
form #last-name {
    grid-column: 1 / 11;
}
form #email {
    grid-column: 1 / 11;
}
form #phone {
    grid-column: 1 / 11;
}
form .full {
    grid-column: 1 / 11;
}
form p {
    margin: 0;
    padding-block: 0.5em;
}
form .last {
    visibility: hidden;
}
form label {
    display: block;
    font-size: 0.75em;
    padding-inline: 0.5em;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--fg0);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg0) inset;
    box-shadow: 0 0 0px 1000px var(--bg0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
form input,
form textarea {
    width: 100%;
    padding: 0.5em;
    font-family: inherit;
    font-size: 0.875em;
    color: var(--fg0);
    background: var(--bg0);
    border-top: 1px solid var(--bg0);
    border-left: 1px solid var(--bg0);
    border-bottom: 1px solid var(--bg3);
    border-right: 1px solid var(--bg3);
}
form textarea {
    resize: none;
}
form .description .include {
    font-size: 0.75em;
    margin-left: 1em;
}
form .btn {
    cursor: pointer;
}
/* FORM }}} */

#info address #tel {
    width: fit-content;
}

iframe {
    width: 100%;
    height: 30vh;
}

/*** media queries ***/
@media (min-width: var(--max)) {
    .container {
        max-width: 100vw;
        margin: 0;
    }
}

@media (min-width: 62.5em) {
    header {
        width: 100%;
        background-color: var(--bg1);
        background: linear-gradient(0deg, var(--bg2) 0%, var(--bg1) 50%);
        padding-inline: 7.5%;
    }
    header .header-container {
        width: 100%;
        background: transparent;
    }
    #navigation {
        position: relative;
    }
}
