#showcase {
    columns: 2;
    margin-block: 0.33rem;
}

@supports (grid-template-rows: masonry) {
    #showcase {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: masonry;
        grid-auto-flow: dense;
        /* align-tracks: stretch; */
    }
}

#showcase img {
    margin-block: 0.33rem;
    break-inside: avoid;
    cursor: pointer;
    transition: 0.5s;
}

#showcase img:hover {
    transform: scale(1.025);
}

.modal {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(7.5px);
    transition: 0.5s;
}
modal::backdrop {
    filter: blur(10px);
}
.modal-content {
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    display: block;
    height: auto;
    max-height: 90vh;
    width: auto;
    max-width: 90vw;
    box-shadow: 0 0 10px 5px black;
}

#img-modal.modal--active {
    opacity: 1;
    pointer-events: auto;
}

body.modal--active {
    overflow: hidden;
}

/*** media queries ***/
@media (min-width: 62.5em) {
    #showcase {
        columns: 3;
    }
}

@media (min-width: 90em) {
    #showcase {
        columns: 4;
    }
}
