#showcase {
    columns: 2;
    margin: 3.5%;
}

#showcase img {
    margin: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
}

#showcase img:hover {
    transform: translateY(-4px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
