#header-banner {
    max-height: 100vh;
    overflow: hidden;
}
video {
    object-fit: cover;
}
.img-container {
    background-image: url('../assets/branding/skull.jpg');
}

/*** media queries ***/
@media (max-width: 62.5em) {
    .img-container {
        aspect-ratio: 24 / 9;
        background-position-y: 40%;
    }
}

@media (min-width: 62.5em) {
    .grid-container > * {
        margin: 0;
    }
    .grid-container {
        margin-block: 5vh;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid-container section:nth-child(1) {
        grid-row: span 2;
    }
}
